*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0.5rem;
}
 header{
    display:flex;
    justify-content: space-between;
    

ul{
    display:flex;
    justify-content:space-evenly;
    list-style-type: none;
}
nav{
    width:60vw;
}
.bigimage{
    width:95vw;
    
}
.container{
    display:flex;
}
.container>div{
    text-align:center;
}
.container>div>p{
    font-size:x-large
}

.bg{
    background-color: black;
    color:white;
    text-align: center;
    height:4rem;
    
}

